# fly.toml app configuration file generated for pm-journey-backend on 2026-02-05T21:31:52+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pm-journey-backend'
primary_region = 'nrt'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  API_HOST = "0.0.0.0:3001"
  API_SCHEME = "https"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
